{% extends 'base.html' %}

{% block content %}

<div>
    <h3 class="text-center">{{clickeduser}}'s Dashboard</h3>
</div>

   <h2 id="refresh-timer" style="display: none;">0</h2>

   <h5 class="text-center">Initial Amount: $<span id="amount">100</span></h5>

   <h4 id="result"></h2>

   <!-- <h3>{{amountlist}}</h3>

   <h4>{{timelist}}</h4> -->

   <!-- <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="amount" value="" id="inputamount" hidden>
    <input type="text" name="time" value="" id="inputtime" hidden>
    <input type="submit" value="" id="submit" hidden>
   </form> -->

   <div class="col-md-12">
    <canvas id="myChart" width="400" height="200"></canvas>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for time in timelist %}  '{{ time }}secs',  {% endfor %}],
                
                datasets: [{
                    label: 'Amount',
                    data: [{% for amounts in amountlist %}  {{ amounts }},  {% endfor %}],
                    
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        //'rgba(153, 102, 255, 1)',
                        //'rgba(255, 159, 64, 1)',
                        //'rgba(240, 120, 50, 1)',
                    ],
                    
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
</div>

   <script>
    
   </script>


   {% endblock %}