body{
    margin: 0;
 }

 .navbar a{
    color: white;
 }

 .main{
     height: 90vh;
     max-width: 100%;
     padding: 0;
     margin: 0;
     display: grid;
     place-items: center;
 }

 .form-group{
     width: 550px;
     margin-top: 0px;
    background-color: whitesmoke;
     padding: 20px;
     
 }
 .form-control{
     width: 500px;
 }

 .text-muted a{
     color: rgb(21, 71, 235);
 }

 .btn{
     background-color:rgb(21, 71, 235);
     color: white;
 }

 .btn:hover{
     background-color: rgb(22, 58, 175);
     color: white;
 }

 .admin{
    margin-top: 30px;
 }

 .admin .container{
    display: grid;
    place-items: center;
 }

 .users{
    margin-top: 50px;
    display: flex; flex-direction: row;
 }
 .users a{
    text-decoration: none;
    margin-bottom: 5px; margin-top:5px;
    background-color: rgb(22, 58, 175);
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 10px;
    min-width: 100px;
 }

 @media (max-width: 1024px) {
     
     .form-group{
         padding-right: 50px;
     }

     .form-control{
         width: 450px;
     }
 }
 @media (max-width: 912px) {
 

     .form-group{
         padding-right: 50px;
     }
 }



 @media (max-width: 500px) {
   
     .main {
         max-width: 100%;
     }
 

     .form-group{
         width: 400px;
         padding-right: 50px;
     }

     .form-control{
         width: 350px;
     }


 }